<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-align: center"
            >Giriş Yapınız</ion-card-title
          >
        </ion-card-header>

        <ion-item>
          <ion-input
            [(ngModel)]="Email_Login"
            label="Email Giriniz"
            type="email"
            placeholder="email@domain.com"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="Password_Login"
            label="Password input"
            type="password"
            value="password"
            placeholder="*********"
          ></ion-input>
        </ion-item>

        <ion-spinner style="text-align: left; float: left"></ion-spinner>
        <div class="sagkaydir">
          <ion-button
            (click)="print_email_login()"
            (click)="print_password_login()"
            style="float: right; padding-right: 1%"
            fill="outline"
            >Giriş Yap</ion-button
          >
        </div>
      </ion-card>
    </ion-list>
  </ion-list>
</ion-content>
