.title-tab3 {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  box-sizing: border-box;
}

.product-list {
  text-align: center;
  width: 50%;
  display: flex;
}
