<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-tab3"> Jeans&Sweats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="product_list">
    <ion-list>
      <ion-item
        ><img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          width="100"
          height="100"
        /><ion-label>Right Wing Jeans</ion-label><ion-label> $29.99</ion-label
        ><ion-button style="float: right; padding-right: 3px" fill="solid"
          >Satın Al</ion-button
        >
      </ion-item>
      <ion-item
        ><img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          width="100"
          height="100"
        /><ion-label>Right Wing Jeans Pro</ion-label
        ><ion-label>$29.99</ion-label>
        <ion-button style="float: right; padding-right: 3px" fill="solid"
          >Satın Al</ion-button
        ></ion-item
      >
      <ion-item
        ><img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          width="100"
          height="100"
        /><ion-label>Right Wing Jeans Extreme Trump Model</ion-label
        ><ion-label>$29.99</ion-label>
        <ion-button style="float: right; padding-right: 3px" fill="solid"
          >Satın Al</ion-button
        ></ion-item
      >
      <ion-item
        ><img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          width="100"
          height="100"
        /><ion-label>Freedom Model-2024 Sweats</ion-label
        ><ion-label>$39.99</ion-label>
        <ion-button style="float: right; padding-right: 3px" fill="solid"
          >Satın Al</ion-button
        ></ion-item
      >
      <ion-item
        ><img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          width="100"
          height="100"
        /><ion-label
          >Bring Your Truck With Ya! Sweats(Extreme Right Wing Model)</ion-label
        ><ion-label>$39.99</ion-label>
        <ion-button style="float: right; padding-right: 3px" fill="solid"
          >Satın Al</ion-button
        ></ion-item
      >
    </ion-list>
  </ion-card>
</ion-content>
